<!doctype html>
<html>
	<head>
		<title>RSS<->IRC Daemon management</title>
	</head>
	
	<body>
	
		<h2 align="center">Welcome to RSS<->IRC Daemon admistration panel!</h2>
		<hr width="100%">
		<center>
			&nbsp; | &nbsp; <a href="/newfeed">Add new feed</a> &nbsp; | &nbsp;
			<a href="/datastore">View data storage contents in raw format</a> &nbsp; | &nbsp;
		</center>
		<hr width="100%">
		<p>Feeds setting in the database: </p>
		
		<table width="100%" border=1>
			<tr>
				<td width="40">
				 <center>X</center>
				 {{ name }}
				</td>
				<td>
					<center><b>Feed Name</b></center>
				</td>
				<td>
					<center><b>Feed URL</b></center>
				</td>
				<td>
					<center><b>Feed channel</b></center>
				</td>
				
			</tr>
		</table> 
	</body>
	
</html>